<div class="row">
  <div class="col text-center">
    <img src="assets/img/9.png" alt="" class="ahorcado-img" />
    <h3>Intentos <small>3 / 9</small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>_ _ _ _ _ _ _ _ _ _</h1>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <button class="btn btn-primary">A</button>
    <button class="btn btn-primary">B</button>
    <button class="btn btn-primary">C</button>
    <button class="btn btn-primary">D</button>
  </div>
</div>
